﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="penyewaan_ruangan.Admin.Admin" %>

<!DOCTYPE html>
<html><head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator - Dashboard</title>

    <link href="Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="Assets/css/datepicker3.css" rel="stylesheet">
    <link href="Assets/css/styles.css" rel="stylesheet">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Sistem Informasi Penyewaan Ruangan Admin</span></a>
				
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
			
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="Default.aspx"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
			<li><a href="Customer.aspx"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Customer</a></li>
			<li><a href="Ruangfasilitas.aspx"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Ruang dan Fasilitas</a></li>
			<li><a href="bayar.aspx"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Bayar</a></li>
            <li><a href="jadwal.aspx"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Jadwal</a></li>
			<li><a href="Laporan.aspx"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Laporan Penyewaan</a></li>
			<li><a href="Logout.aspx"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Keluar</a></li>
            </ul>

	</div><!--/.sidebar-->

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
